body {
  min-height: 2000;
}

.jumbotron {
  padding-top: 2rem;
  background-color: #40679e;
  color: white;
}

#about {
  text-align: left;
  text-align: justify;
  line-height: 35px;
  letter-spacing: 1px;
}

.container-album {
  padding: 100px;
  background-color: rgb(255, 255, 255);
}

.container-album h2 {
  text-align: center;
  margin: 10px;
  padding-bottom: 20px;
}
